a {
    border-top: 20px;
    padding: 2rem;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    color: #D9B310;
}

.top-bottom-banner {
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #0B3C5D;
}

.center-banner {
    text-align: center;
    background-color: #328CC1;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.portrait {
    clear: left;
    margin: 50px;
    max-height: 300px;
    border-radius: 50%;
    border: 2px solid black;
}

h1 {
    color: #1D2731;
    font-family: 'Special Elite', cursive;
    margin: 0;
}

h3 {
    color: #1D2731;
    font-family: 'Special Elite', cursive;
    margin: 0;
}

/* FlexBox */
.container {
    display: flex;
    flex-direction: column;
}

.item {
    flex: auto;
}