a {
    padding: 0 20px 0 20px;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    color: #D9B310;
}

nav, footer {
    text-align: center;
    height: 12vh;
    line-height: 11vh;
    background-color: #0B3C5D;
    
}

#main {
    display: flex;
    min-height: calc(100vh - 24vh);
}

.content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-align: center;
    
    padding-top: 40px;
    padding-bottom: 40px;
}

.portrait {
    margin: 50px;
    max-height: 150px;
    border-radius: 50%;
    border: 1px solid #D9B310;
}

.brand {
    padding-top: 20px;
    height: 25px;
}

h1, h3 {
    color: #1D2731;
    text-shadow: #D9B310 1px 1px;
    font-family: 'Special Elite', cursive;
    margin: 0;
}

body {
    background: #328CC1 url("images/vlad-tchompalov-kNtnzyY8pZ0-unsplash.jpg") no-repeat center bottom;
    background-size: cover;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}